body {
    margin: 0px;
    background-color: lightgray;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    -moz-text-decoration-color: #888; /* Code for Firefox */
    text-decoration-color: #888;    
}

/* Menus */
.mainMenu{
    position:relative;
    width:200px;
    height:200px;
    margin:0px;
    background-color: lightgray;
    float:left;
}

.mainMenu ul {
    margin: 0px;
    padding: 0px;
}

.mainMenu li {
    width: 200px;
    height:35px;
    color:white;
    list-style-type: none;
}

.mainMenu .icon {
    width: 40px;
    height:35px;
    padding-top:10px;
    padding-left:10px;
    float:left;    
}

.mainMenu .games {
    background-color: #444333;
}

.mainMenu .tools {
    background-color: #59982b;
}

.mainMenu .music {
    background-color: #cc3f3b;
}

.mainMenu .photos {
    background-color: #e06b00;
}

.mainMenu .internet {
    background-color: #039cd2;
}

.mainMenu .mtitle {
    position: relative;
    width: 140px;
    height:35px;
    padding-top:10px;
    padding-left:10px;
    background-color: #777;
    cursor: pointer;
    float:left;
}

.mainMenu #games .mtitle:hover {
    background-color: #444333;
}

.mainMenu #tools .mtitle:hover {
    background-color: #59982b;
}

.mainMenu #music .mtitle:hover {
    background-color: #cc3f3b;
}

.mainMenu #photos .mtitle:hover {
    background-color: #e06b00;
}

.mainMenu #internet .mtitle:hover {
    background-color: #039cd2;
}


/* Apps List */

.appsList {
    position:relative;
    left:20px;
    width: calc(100% - 230px);
    float:left;
}

.appListCard{
    background-color: #fff;
    width: 150px;
    height: 230px;
    padding: 10px;
    margin:5px;
    float:left;
    border-radius: 10px;
}

.thumbnail {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #444333;
  border-radius: 10px;
  border: 1px solid #999;
  overflow: hidden;
}

.thumbnail img {
  width: 150px;
  height: 150px;
}

.appListCard:hover img{
    opacity: .5;
}

.appName {
    width:150px;
    margin: 5px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    color:#111;
}

.devName {
    width:150px;
    margin: 5px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    color:#888;
}

.downloadIcon{
    margin:0px;
    width:25px;
    height: 18px;
    margin: 5px;
    background-image: url('../images/icons/icon_download.png');
    background-repeat: no-repeat;
    float:left;
}

.appStars{
    width:100px;
    height: 25px;
    margin: 5px;
    background-repeat: no-repeat;
    float:left;
}

.app5Stars{
    background-image: url('../images/icons/5stars.png');
}

.app4Stars{
    background-image: url('../images/icons/4stars.png');
}

.app3Stars{
    background-image: url('../images/icons/3stars.png');
}

.app2Stars{
    background-image: url('../images/icons/2stars.png');
}

.app1Stars{
    background-image: url('../images/icons/1stars.png');
}

.app0Stars{
    background-image: url('../images/icons/0stars.png');
}

/* app Content */

.appContent {
    position:relative;
    border-radius: 10px;
    width: calc(100% - 300px);
    background-color: #fff;
    left:20px;
    float:left;
    padding:30px;
}